functions-framework
requests
google-cloud-error-reporting==1.15.0
google-genai==1.70.0
--extra-index-url https://europe-west1-python.pkg.dev/nl-connectors-com/nl-digital-platform-pip-repository/simple/
nl-digital-platform-lib==1.2.4
